#mfPreviewBarShow, #mfPreviewBar {
    display: none !important;
}
body {
    /*background-image: url(../img/bg-model.png);*/
    background-position: top center;
    background-repeat: no-repeat;
    font-family: "Futura Medium", sans-serif;
    line-height: 1.75em;
    color: white;
}
.navbar-default {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar {
    border-radius: 0;
    font-family: "Caecilia eText", serif;
    font-weight: 100;
    min-height: 93px;
    margin-bottom: 0;
    border: 0;
}
.navbar-nav {
    margin: 0 -15px;
}
.navbar-brand {
    height: 93px;
    padding: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #efbd0f;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-toggle {
    margin-top: 30px;
    margin-bottom: 29px;
}
.carousel .item img {
    width: 100%;
    min-height: 210px;
    max-height: 484px;
}
.carousel-caption {
    bottom: 24%;
}
.carousel-caption hr {
    color: #ffd16d;
    background-color: #ffd16d;
    width: 85px;
    height: 3px;
    border: 0;
}
.carousel-caption h3 {
    font-size: 125%;
    line-height: 1.5em;
    font-family: "Caecilia eText Bold", serif;
    text-transform: uppercase;
}
.carousel-caption p {
    font-size: 90%;
    line-height: 1.5em;
}
header {
    text-align: center;
}
header .row > div {
    padding: 4% 15%;
}
header h1 {
    font-family: "Caecilia eText Bold", serif;
    padding-bottom: 0.5em;
}
header .lead {
    font-family: "Futura Heavy", sans-serif;
    font-size: 105%;
    line-height: 1.5em;
}
.white {
    position: relative;
    background-color: #fff;
    color: #000;
}
.cyan {
    background-color: #04bdbf;
    color: #fff;
}
.cyan-gradient {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #04bdbf),
        color-stop(1, #10c0c2)
    );
    background-image: -o-linear-gradient(bottom, #04bdbf 0%, #10c0c2 100%);
    background-image: -moz-linear-gradient(bottom, #04bdbf 0%, #10c0c2 100%);
    background-image: -webkit-linear-gradient(bottom, #04bdbf 0%, #10c0c2 100%);
    background-image: -ms-linear-gradient(bottom, #04bdbf 0%, #10c0c2 100%);
    background-image: linear-gradient(to bottom, #04bdbf 0%, #10c0c2 100%);
}
.yellow {
    background-color: #efbd0f;
    color: #fff;
}
.yellow-gradient {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #EFBE0F),
        color-stop(1, #F0C21A)
    );
    background-image: -o-linear-gradient(bottom, #EFBE0F 0%, #F0C21A 100%);
    background-image: -moz-linear-gradient(bottom, #EFBE0F 0%, #F0C21A 100%);
    background-image: -webkit-linear-gradient(bottom, #EFBE0F 0%, #F0C21A 100%);
    background-image: -ms-linear-gradient(bottom, #EFBE0F 0%, #F0C21A 100%);
    background-image: linear-gradient(to bottom, #EFBE0F 0%, #F0C21A 100%);
}
.red {
    background-color: #e1653f;
}
.dark-cyan {
    background-color: #1f8282;
}
.green-gradient {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #04bf95),
        color-stop(1, #10c29a)
    );
    background-image: -o-linear-gradient(bottom, #04bf95 0%, #10c29a 100%);
    background-image: -moz-linear-gradient(bottom, #04bf95 0%, #10c29a 100%);
    background-image: -webkit-linear-gradient(bottom, #04bf95 0%, #10c29a 100%);
    background-image: -ms-linear-gradient(bottom, #04bf95 0%, #10c29a 100%);
    background-image: linear-gradient(to bottom, #04bf95 0%, #10c29a 100%);
}
.box > div {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10% 10% 15% 10%;
}
.box > div > h3 {
    font-family: 'Caecilia eText', serif;
    line-height: 1.5em;
    font-size: 185%;
}
.box > div > h3 > small {
    color: #fff;
    font-size: 55%;
    font-family: "Futura Heavy", sans-serif;
}
.box > div.white > h3 > small {
    color: #000;
}
.box > div > hr {
    color: #fff;
    background-color: #fff;
    width: 96px;
    height: 3px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box > div.white {
    padding: 3% 10% 15% 8%;
    margin-bottom: 15px;
}
.box > div.white > hr {
    width: 96px;
    height: 3px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cyan-gradient .box > div.white > hr {
    color: #04bdbf;
    background-color: #04bdbf;
}
.yellow-gradient .box > div.white > hr {
    color: #efbd0f;
    background-color: #efbd0f;
}
.green-gradient .box > div.white > hr {
    color: #04bf95;
    background-color: #04bf95;
}
.box > div.white > a {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.box > div.white > a > span {
    color: #fff;
    line-height: 36px;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
}
.cyan-gradient .box > div.white > a > span {
  background-color: #68d7d9;
}
.yellow-gradient .box > div.white > a > span {
    background-color: #f5d76f;
}
.green-gradient .box > div.white > a > span {
    background-color: #68d9bf;
}
@media(min-width:600px) {
    .carousel-caption h3 {
        font-size: 150%;
    }
    .carousel-caption p {
        font-size: 110%;
    }
}
@media(max-width:767px) {
}
@media(min-width:768px) {
    .equalize {
        overflow: hidden;
        padding-bottom: 100%;
        margin-bottom: -100%;
    }
    .navbar {
        font-size: 12px;
    }
    .nav>li>a {
        padding: 10px;
        margin: 27px 0 26px 0;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #efbd0f;
        background: none;
        background-color: transparent;
    }
    /*
    .navbar-default .navbar-nav>li>a:hover>span,
    .navbar-default .navbar-nav>li>a:focus>span {
        padding-bottom: 10px;
        border-bottom: 5px solid #efbd0f;
    }
    */
    .navbar-default .navbar-nav>.active>a {
        color: #000;
        background: none;
        background-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-default .navbar-nav>.active>a>span {
        padding-bottom: 10px;
        border-bottom: 5px solid #efbd0f;
    }
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #efbd0f;
        background: none;
        background-color: transparent;
    }
    .carousel-caption {
        bottom: 28%;
    }
    .carousel-caption h3 {
        font-size: 200%;
    }
    .carousel-caption p {
        font-size: 115%;
    }
    .box.left {
        padding-right: 7px;
    }
    .box.right {
        padding-left: 7px;
    }
}
@media(min-width:992px) {
    .navbar {
        font-size: 14px;
    }
    .nav>li:last-child {
        margin-right: 50px;
    }
    .nav>li>a {
        padding: 10px 15px;
    }
    .carousel-caption {
        bottom: 32%;
    }
    .carousel-caption h3 {
        font-size: 225%;
    }
    .carousel-caption p {
        font-size: 125%;
    }
}
@media(min-width:1200px) {
}
